/**
 * Creates an animatable hamburger icon that switches to an 'x' when an 'active'
 * class is applied. Must be used on an element containing 3 empty spans
 *
 * @param $width [number]
 * @param $height [number]
 * @param $barHeight [number]
 * @param $barColor [color]
 * @param $duration [duration]
 * @param $rotation [angle]
 */
@mixin animatedHamburger(
    $width: 30px,
    $height: 25px,
    $barHeight: 5px,
    $barColor: black,
    $duration: 0.4s,
    $rotation: 90deg,
    $rounded: false
) {
    width: $width;
    height: $height;
    position: relative;
    transition: $duration ease all;
    span {
        position: absolute;
        left: 0;
        display: block;
        width: $width;
        height: $barHeight;
        background-color: $barColor;
        opacity: 1;
        @if ($rounded) {
            border-radius: $barHeight;
        }
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 50%;
            margin-top: -($barHeight * 0.5);
        }
        &:nth-child(3) {
            bottom: 0;
        }

        transition: ($duration * 0.5) ($duration * 0.5) ease top,
            ($duration * 0.5) ($duration * 0.5) ease bottom,
            0s ($duration * 0.5) ease opacity, ($duration * 0.5) ease transform;
    }
    &.active {
        transform: rotate($rotation);
        span {
            transition: ($duration * 0.5) ease top,
                ($duration * 0.5) ease bottom, 0s ($duration * 0.5) ease opacity,
                ($duration * 0.5) ease ($duration * 0.5) transform;
        }
        span:nth-child(1) {
            transform: rotate(45deg);
            top: ($height * 0.5) - ($barHeight * 0.5);
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            transform: rotate(-45deg);
            bottom: ($height * 0.5) - ($barHeight * 0.5);
        }
    }
}
