@mixin baseHeadingFontSize($size, $largeSize: false) {

    $realLargeSize: $size * 1.2;
    @if $largeSize {
        $realLargeSize: $largeSize;
    }

    font-size: $size;
    @include breakpoint(medium) {
        font-size: $realLargeSize;
    }
}